{% extends "base.html" %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{%block content%}

    <h2>A simple, but powerful, learning tool</h2>
    <h3>Spaced repetition that learns how you learn</h3>

    {% include 'navs/base_nav.html' %}
    <p>
        This is a platform that takes a holistic approach to learning.
        <br>
        A system that adapts to you and what you want to learn.
    </p>

    <h4>Here's a few reasons why <i>Langa</i> is pretty cool:</h4>

    <ul>
        <li>Incorporates how you're feeling to adjust that day's lesson</li>
        <li>Simple interface that looks great on any device</li>
        <li>Create 20,000 cards for free (up to 50,000 for students)</li>
        <li>Share and collaborate on decks with others</li>
        <li>Import cards from other programs (Anki, Quizlet, etc.)</li>
        <li>WYSIWYG card editor</li>
        <li>No ads or trackers</li>
        <li><a href="https://github.com/imlasky/langa">Open-source</a></li>
    </ul>

    {% comment %} TODO: Add example deck link {% endcomment %}
    <p><a href="#">Check out an example deck</a></p>


{%endblock content%}
