{% extends "base.html" %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{%block content%}

    <h2>A simple, but powerful, language learning tool</h2>
    <h3>Space repetition that learns how you learn</h3>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'users:detail' request.user.username  %}">{% translate "Dashboard" %}</a>
        <a href="{% url 'account_logout' %}">Log out</a>
        {% else %}
        <a href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
        <a href="{% url 'account_login' %}">{% translate "Log In" %}</a>
        {% endif %}
    </nav>

    <p>
        This is a platform that takes a holistic approach to learning.
        <br>
        A system that adapts to you and what you want to learn.
    </p>

    <h4>Here's a few ways <i>Langa</i> is pretty cool:</h4>

    <ul>
        <li>Incorporates how you're feeling to adjust that day's lesson</li>
        <li>Simple interface that looks great on any device</li>
        <li>Create 20,000 cards for free (up to 50,000 for students)</li>
        <li>Share and collaborate on decks with others</li>
        <li>Import cards from other programs (Anki, Quizlet, etc.)</li>
        <li>WYSIWYG card editor</li>
        <li>No ads, scripts, or trackers</li>
        <li>Open-source</li>
    </ul>


{%endblock content%}
