{% extends 'decks/base.html' %}

{% block inner %}
  <h3>Decks</h3>
  {% if decks %}
    <ul>
      {% for deck in decks %}
        <li>
          <a href="{% url 'decks:deck_detail' deck.id %}">
            {{ deck.name }} - {{ deck.description }}
          </a>
          {% if deck.private %}
            (private)
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No decks found.</p>
  {% endif %}
  <p>
    <a href="{% url 'decks:deck_create' %}">Create a new deck</a>
  </p>
{% endblock %}
